<html lang="en">

   <%- include header %>
      <div class="jumbotron">
        <h1>환영합니다.</h1>
        <p>게시판 입니다.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">프로필 보기 »</a>
        </p>
      </div>
    <%- include footer %>
